[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pytelegrambotapi = "*"
flask = "*"
yfinance = "*"
matplotlib = "*"
datetime = "*"
fbprophet = "==0.6"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
